#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#map {
  height: 80vh;
  width: 80vw;
  background-color: red;
}

html,
body {
  margin: 0;
  padding: 0;
}
